nodes.json
[
	{
		"id": "d612f1de.347908",
		"type": "tab",
		"label": "Main",
		"disabled": false,
		"info": ""
	},
	{
		"id": "4f90e2dc.c3a1cc",
		"type": "tab",
		"label": "Web Lookup",
		"disabled": false,
		"info": ""
	},
	{
		"id": "48e1deaa.d8a22",
		"type": "tab",
		"label": "TodoistAPI",
		"disabled": false,
		"info": ""
	},
	{
		"id": "2a6819dd.47b4ae",
		"type": "MySQLdatabase",
		"z": "",
		"host": "",
		"port": "",
		"db": "",
		"tz": ""
	},
	{
		"id": "82e07b51.0ee9d8",
		"type": "link in",
		"z": "48e1deaa.d8a22",
		"name": "GetAll",
		"links": [],
		"x": 155,
		"y": 100,
		"wires": [
			[
				"867ba119.e8425"
			]
		]
	},
	{
		"id": "2c79eb68.694934",
		"type": "link in",
		"z": "48e1deaa.d8a22",
		"name": "Create",
		"links": [
			"bc8ba741.f831b8"
		],
		"x": 155,
		"y": 140,
		"wires": [
			[
				"8ae6dbfb.5cc838"
			]
		]
	},
	{
		"id": "7ebdfd25.0943a4",
		"type": "link in",
		"z": "48e1deaa.d8a22",
		"name": "Update",
		"links": [],
		"x": 155,
		"y": 180,
		"wires": [
			[
				"6c4d1734.15ecf8"
			]
		]
	},
	{
		"id": "a9e9337c.62ee5",
		"type": "link in",
		"z": "48e1deaa.d8a22",
		"name": "Reopen",
		"links": [
			"89ade8f7.d51b38"
		],
		"x": 155,
		"y": 220,
		"wires": [
			[
				"11199783.267a48"
			]
		]
	},
	{
		"id": "47133cc.cdb69c4",
		"type": "http request",
		"z": "48e1deaa.d8a22",
		"name": "Create",
		"method": "POST",
		"ret": "obj",
		"paytoqs": false,
		"url": "https:\/\/api.todoist.com\/rest\/v1\/tasks",
		"tls": "",
		"persist": false,
		"proxy": "",
		"authType": "bearer",
		"x": 370,
		"y": 140,
		"wires": [
			[
				"e38a1bb6.c40ab8"
			]
		]
	},
	{
		"id": "8ae6dbfb.5cc838",
		"type": "function",
		"z": "48e1deaa.d8a22",
		"name": "",
		"func": "msg.headers = {};\nmsg.headers['Content-Type'] = 'application\/json';\nmsg.payload['project_id'] = 2226007347;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 250,
		"y": 140,
		"wires": [
			[
				"47133cc.cdb69c4"
			]
		]
	},
	{
		"id": "21ddb658.956d8a",
		"type": "link out",
		"z": "48e1deaa.d8a22",
		"name": "GetAll",
		"links": [],
		"x": 475,
		"y": 100,
		"wires": []
	},
	{
		"id": "e38a1bb6.c40ab8",
		"type": "link out",
		"z": "48e1deaa.d8a22",
		"name": "CreateTask",
		"links": [
			"fd43e916.25322"
		],
		"x": 475,
		"y": 140,
		"wires": []
	},
	{
		"id": "4aeb0806.eacd28",
		"type": "link out",
		"z": "48e1deaa.d8a22",
		"name": "EditTask",
		"links": [],
		"x": 475,
		"y": 180,
		"wires": []
	},
	{
		"id": "ca3374c6.da3428",
		"type": "link out",
		"z": "48e1deaa.d8a22",
		"name": "Reopen",
		"links": [],
		"x": 475,
		"y": 220,
		"wires": []
	},
	{
		"id": "444018a9.e78c08",
		"type": "http request",
		"z": "48e1deaa.d8a22",
		"name": "GetAll",
		"method": "GET",
		"ret": "obj",
		"paytoqs": true,
		"url": "https:\/\/api.todoist.com\/rest\/v1\/tasks",
		"tls": "",
		"persist": false,
		"proxy": "",
		"authType": "bearer",
		"x": 370,
		"y": 100,
		"wires": [
			[
				"21ddb658.956d8a"
			]
		]
	},
	{
		"id": "867ba119.e8425",
		"type": "function",
		"z": "48e1deaa.d8a22",
		"name": "",
		"func": "msg.payload = {};\nmsg.payload['project_id'] = 2226007347;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application\/json';\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 250,
		"y": 100,
		"wires": [
			[
				"444018a9.e78c08"
			]
		]
	},
	{
		"id": "6c4d1734.15ecf8",
		"type": "function",
		"z": "48e1deaa.d8a22",
		"name": "",
		"func": "msg.url = \"https:\/\/api.todoist.com\/rest\/v1\/tasks\/\"+msg.topic\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application\/json';\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 250,
		"y": 180,
		"wires": [
			[
				"1ba6bcb2.eb56a3"
			]
		]
	},
	{
		"id": "1ba6bcb2.eb56a3",
		"type": "http request",
		"z": "48e1deaa.d8a22",
		"name": "Update",
		"method": "POST",
		"ret": "obj",
		"paytoqs": false,
		"url": "",
		"tls": "",
		"persist": false,
		"proxy": "",
		"authType": "bearer",
		"x": 380,
		"y": 180,
		"wires": [
			[
				"4aeb0806.eacd28"
			]
		]
	},
	{
		"id": "11199783.267a48",
		"type": "function",
		"z": "48e1deaa.d8a22",
		"name": "",
		"func": "msg.url = \"https:\/\/api.todoist.com\/rest\/v1\/tasks\/\"+msg.topic+\"\/reopen\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 250,
		"y": 220,
		"wires": [
			[
				"178111ee.c9e60e"
			]
		]
	},
	{
		"id": "178111ee.c9e60e",
		"type": "http request",
		"z": "48e1deaa.d8a22",
		"name": "Reopen",
		"method": "POST",
		"ret": "obj",
		"paytoqs": false,
		"url": "",
		"tls": "",
		"persist": false,
		"proxy": "",
		"authType": "bearer",
		"x": 380,
		"y": 220,
		"wires": [
			[
				"ca3374c6.da3428"
			]
		]
	},
	{
		"id": "824db7b6.614e78",
		"type": "mysql",
		"z": "d612f1de.347908",
		"mydb": "2a6819dd.47b4ae",
		"name": "Database",
		"x": 1780,
		"y": 600,
		"wires": [
			[
				"89deae90.4b4d7"
			]
		]
	},
	{
		"id": "954e463a.8a72b8",
		"type": "link out",
		"z": "d612f1de.347908",
		"name": "Lookup UPC",
		"links": [
			"fef5de26.c65ec",
			"2630bd47.64ba1a"
		],
		"x": 1095,
		"y": 380,
		"wires": []
	},
	{
		"id": "43c3f87d.4faad8",
		"type": "link in",
		"z": "d612f1de.347908",
		"name": "Lookup Success",
		"links": [
			"14dd4a41.9d0d06",
			"928955a6.8f6cb8",
			"526a5ce1.cddeac"
		],
		"x": 1295,
		"y": 440,
		"wires": [
			[
				"1a70d933.62f9af"
			]
		]
	},
	{
		"id": "a9cffb94.f5064",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Check DB For UPC",
		"func": "var found = false;\nvar items = global.get(\"Items\");\nfor (i = 0; i < items.length; i++) {\n  if (items[i].upc == msg.payload)\n  {\n	found = true;\n	msg.topic = \"Select\";\n	break;\n  }\n}\n\nif (found)\n	return [null, msg];\nelse\n{\n	global.set(\"Name\", null);\n	global.set(\"Size\", null);\n	return [msg, null];\n}",
		"outputs": 2,
		"noerr": 0,
		"x": 950,
		"y": 400,
		"wires": [
			[
				"954e463a.8a72b8"
			],
			[
				"b3f7cf89.fd4cc8"
			]
		]
	},
	{
		"id": "79b2211d.dd6038",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Setup Get",
		"func": "var SqlString = global.get('SqlString');\nglobal.set(\"UPC\", msg.payload);\n\nmsg.queryType=\"Get Item\";\nmsg.topic = SqlString.format(\"SELECT upc, name, have, want, task FROM Items WHERE upc = ?\", [msg.payload]);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1410,
		"y": 680,
		"wires": [
			[
				"824db7b6.614e78"
			]
		]
	},
	{
		"id": "1a70d933.62f9af",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Setup Add New",
		"func": "var success = msg.payload;\nvar SqlString = global.get('SqlString');\n\nmsg.queryType = \"Add New Item\";\nmsg.topic = SqlString.format(\n	\"INSERT INTO Items\u3000(name, upc, have, want) VALUES (?, ?, ?, 0)\",\n	[\n		success === true ? global.get(\"Name\") : \"Unknown Item\",\n		global.get(\"UPC\"),\n		global.get(\"ScanMode\") === \"Add\" ? 1 : 0\n	]);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1420,
		"y": 440,
		"wires": [
			[
				"824db7b6.614e78"
			]
		]
	},
	{
		"id": "b3f7cf89.fd4cc8",
		"type": "switch",
		"z": "d612f1de.347908",
		"name": "Scan Mode",
		"property": "ScanMode",
		"propertyType": "global",
		"rules": [
			{
				"t": "eq",
				"v": "Add",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Remove",
				"vt": "str"
			},
			{
				"t": "else"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 3,
		"x": 1150,
		"y": 440,
		"wires": [
			[
				"7d21b8e6.0ba86"
			],
			[
				"90080b59.aee8c8"
			],
			[
				"79b2211d.dd6038"
			]
		]
	},
	{
		"id": "847a5f20.a4a81",
		"type": "uibuilder",
		"z": "d612f1de.347908",
		"name": "Web HMI",
		"topic": "",
		"url": "hmi",
		"fwdInMessages": false,
		"allowScripts": false,
		"allowStyles": false,
		"copyIndex": true,
		"showfolder": false,
		"x": 710,
		"y": 580,
		"wires": [
			[
				"164dc4cc.565c03"
			],
			[]
		]
	},
	{
		"id": "164dc4cc.565c03",
		"type": "switch",
		"z": "d612f1de.347908",
		"name": "Event Type",
		"property": "topic",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "ScanUPC",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Refresh",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "IncrementHave",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "DecrementHave",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "IncrementWant",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "DecrementWant",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "SelectUPC",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Rename",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Delete",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "ScanMode",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 10,
		"x": 870,
		"y": 580,
		"wires": [
			[
				"a9cffb94.f5064"
			],
			[
				"a55f63af.b0429"
			],
			[
				"7d21b8e6.0ba86"
			],
			[
				"90080b59.aee8c8"
			],
			[
				"bb7279d.ae91f08"
			],
			[
				"ae6a9e10.436dc"
			],
			[
				"79b2211d.dd6038"
			],
			[
				"6ddce41c.6e92f4"
			],
			[
				"5824b86a.8ad43"
			],
			[
				"fbbad6f9.866288"
			]
		]
	},
	{
		"id": "e1e516b4.c81cf8",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Replace Item List",
		"func": "\/\/save data\nglobal.set(\"Items\", msg.payload);\n\nmsg.topic = \"Item List\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 530,
		"y": 520,
		"wires": [
			[
				"847a5f20.a4a81"
			]
		]
	},
	{
		"id": "df42208e.6fc2f8",
		"type": "switch",
		"z": "d612f1de.347908",
		"name": "",
		"property": "queryType",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "Get All",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Add New Item",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Get Item",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Delete Item",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Update Item",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 5,
		"x": 230,
		"y": 600,
		"wires": [
			[
				"e1e516b4.c81cf8"
			],
			[
				"3d8c5665.d0d452"
			],
			[
				"7f929786.8fdda8"
			],
			[
				"2c8857cd.4d3e58"
			],
			[
				"d3786e91.2642f8"
			]
		]
	},
	{
		"id": "3d8c5665.d0d452",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Add New Item To UI",
		"func": "var items = global.get(\"Items\");\nvar item = {name:global.get(\"Name\") || \"Unknown Item\", upc:global.get(\"UPC\"), have:global.get(\"ScanMode\") === \"Add\" ? 1 : 0, want:0};\nitems.push(item);\nmsg.topic = \"Add New Item\";\nmsg.payload = item;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 530,
		"y": 560,
		"wires": [
			[
				"847a5f20.a4a81"
			]
		]
	},
	{
		"id": "a55f63af.b0429",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Setup Get All",
		"func": "msg.queryType=\"Get All\";\nmsg.topic=\"SELECT upc, name, have, want, task FROM Items\";\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1410,
		"y": 480,
		"wires": [
			[
				"824db7b6.614e78"
			]
		]
	},
	{
		"id": "fbbad6f9.866288",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Set Scan Mode",
		"func": "global.set(\"ScanMode\", msg.payload);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 960,
		"y": 700,
		"wires": [
			[]
		]
	},
	{
		"id": "6ddce41c.6e92f4",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Setup Rename",
		"func": "var SqlString = global.get('SqlString');\nglobal.set(\"UPC\", msg.payload.upc);\n\nvar items = global.get(\"Items\");\nfor(var i = 0; i < items.length; i++)\n{\n	if (items[i].upc === msg.payload.upc)\n	{\n		items[i].name = msg.payload.name;\n		break;\n	}\n}\n\nmsg.queryType=\"Update Item\";\nmsg.topic = SqlString.format(\"UPDATE Items SET name = ? WHERE upc = ?\", [msg.payload.name, msg.payload.upc]);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1420,
		"y": 720,
		"wires": [
			[
				"824db7b6.614e78"
			]
		]
	},
	{
		"id": "7f929786.8fdda8",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Update Item In UI",
		"func": "msg.topic = \"Update Item\";\nmsg.payload = msg.payload[0];\/\/Select the first row (should only be one anyway)\nvar items = global.get(\"Items\");\nfor(var i = 0; i < items.length; i++)\n{\n	if (items[i].upc === msg.payload.upc)\n	{\n		items[i] = msg.payload;\n		break;\n	}\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 530,
		"y": 600,
		"wires": [
			[
				"847a5f20.a4a81"
			]
		]
	},
	{
		"id": "7d21b8e6.0ba86",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Setup Increment Have",
		"func": "var SqlString = global.get('SqlString');\nglobal.set(\"UPC\", msg.payload);\n\nvar items = global.get(\"Items\");\nfor(var i = 0; i < items.length; i++)\n{\n	if (items[i].upc === msg.payload.upc)\n	{\n		items[i].have++;\n		break;\n	}\n}\n\nmsg.queryType=\"Update Item\";\nmsg.topic = SqlString.format(\"UPDATE Items SET have = have + 1 WHERE upc = ?\", [msg.payload]);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1440,
		"y": 520,
		"wires": [
			[
				"824db7b6.614e78",
				"bfc3ac52.889908"
			]
		]
	},
	{
		"id": "90080b59.aee8c8",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Setup Decrement Have",
		"func": "var SqlString = global.get('SqlString');\nglobal.set(\"UPC\", msg.payload);\n\nvar items = global.get(\"Items\");\nfor(var i = 0; i < items.length; i++)\n{\n	if (items[i].upc === msg.payload.upc)\n	{\n		items[i].have--;\n		if (items[i].have < 0)\n			items[i].have = 0;\n		break;\n	}\n}\n\nmsg.queryType=\"Update Item\";\nmsg.topic = SqlString.format(\"UPDATE Items SET have = CASE WHEN have - 1 < 0 THEN 0 ELSE have - 1 END WHERE upc = ?\", [msg.payload]);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1450,
		"y": 560,
		"wires": [
			[
				"824db7b6.614e78",
				"bfc3ac52.889908"
			]
		]
	},
	{
		"id": "bb7279d.ae91f08",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Setup Increment Want",
		"func": "var SqlString = global.get('SqlString');\nglobal.set(\"UPC\", msg.payload);\n\nvar items = global.get(\"Items\");\nfor(var i = 0; i < items.length; i++)\n{\n	if (items[i].upc === msg.payload.upc)\n	{\n		items[i].want++;\n		break;\n	}\n}\n\nmsg.queryType=\"Update Item\";\nmsg.topic = SqlString.format(\"UPDATE Items SET want = want + 1 WHERE upc = ?\", [msg.payload]);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1440,
		"y": 600,
		"wires": [
			[
				"824db7b6.614e78",
				"bfc3ac52.889908"
			]
		]
	},
	{
		"id": "ae6a9e10.436dc",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Setup Decrement Want",
		"func": "var SqlString = global.get('SqlString');\nglobal.set(\"UPC\", msg.payload);\n\nvar items = global.get(\"Items\");\nfor(var i = 0; i < items.length; i++)\n{\n	if (items[i].upc === msg.payload.upc)\n	{\n		items[i].want--;\n		if (items[i].want < 0)\n			items[i].want = 0;\n		break;\n	}\n}\n\nmsg.queryType=\"Update Item\";\nmsg.topic = SqlString.format(\"UPDATE Items SET want = CASE WHEN want - 1 < 0 THEN 0 ELSE want - 1 END WHERE upc = ?\", [msg.payload]);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1450,
		"y": 640,
		"wires": [
			[
				"824db7b6.614e78",
				"bfc3ac52.889908"
			]
		]
	},
	{
		"id": "d3786e91.2642f8",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Get Updated Item",
		"func": "msg.payload = global.get(\"UPC\");\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 950,
		"y": 780,
		"wires": [
			[
				"79b2211d.dd6038"
			]
		]
	},
	{
		"id": "5824b86a.8ad43",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Setup Delete",
		"func": "var SqlString = global.get('SqlString');\nvar upc = msg.payload;\nglobal.set(\"UPC\", upc);\n\nvar items = global.get(\"Items\");\nfor(var i = 0; i < items.length; i++)\n{\n	if (items[i].upc === msg.payload.upc)\n	{\n		msg.payload = items[i].task;\n		break;\n	}\n}\n\nglobal.set(\"Items\", items.filter(function(i) { return i.upc !== msg.payload; }));\n\nmsg.queryType=\"Delete Item\";\nmsg.topic = SqlString.format(\"DELETE FROM Items WHERE upc = ?\", [upc]);\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1410,
		"y": 760,
		"wires": [
			[
				"824db7b6.614e78",
				"39ad0def.6fca22"
			]
		]
	},
	{
		"id": "2c8857cd.4d3e58",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Delete Item From UI",
		"func": "msg.topic = \"Delete Item\";\nmsg.payload = global.get(\"UPC\");\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 520,
		"y": 640,
		"wires": [
			[
				"847a5f20.a4a81"
			]
		]
	},
	{
		"id": "326f5bf4.b5ffac",
		"type": "html",
		"z": "4f90e2dc.c3a1cc",
		"name": "Separate Columns",
		"property": "payload",
		"outproperty": "payload",
		"tag": "td",
		"ret": "text",
		"as": "single",
		"x": 750,
		"y": 200,
		"wires": [
			[
				"cab43b9e.6ae7b8"
			]
		]
	},
	{
		"id": "4fb7fec3.ebd6f",
		"type": "html",
		"z": "4f90e2dc.c3a1cc",
		"name": "Get Rows",
		"property": "payload",
		"outproperty": "payload",
		"tag": "table.data tr",
		"ret": "html",
		"as": "multi",
		"x": 580,
		"y": 200,
		"wires": [
			[
				"326f5bf4.b5ffac"
			]
		]
	},
	{
		"id": "256c88d1.6974e",
		"type": "http request",
		"z": "4f90e2dc.c3a1cc",
		"name": "upcdatabase.com",
		"method": "GET",
		"ret": "txt",
		"paytoqs": false,
		"url": "",
		"tls": "",
		"persist": false,
		"proxy": "",
		"authType": "",
		"x": 370,
		"y": 80,
		"wires": [
			[
				"b47741b.a8228c"
			]
		]
	},
	{
		"id": "351f9542.9e9a42",
		"type": "function",
		"z": "4f90e2dc.c3a1cc",
		"name": "Construct URL",
		"func": "msg.url = \"https:\/\/upcdatabase.com\/item\/\" + msg.payload;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 220,
		"y": 140,
		"wires": [
			[
				"256c88d1.6974e"
			]
		]
	},
	{
		"id": "2630bd47.64ba1a",
		"type": "link in",
		"z": "4f90e2dc.c3a1cc",
		"name": "UPC",
		"links": [
			"954e463a.8a72b8"
		],
		"x": 95,
		"y": 140,
		"wires": [
			[
				"351f9542.9e9a42"
			]
		]
	},
	{
		"id": "526a5ce1.cddeac",
		"type": "link out",
		"z": "4f90e2dc.c3a1cc",
		"name": "Success",
		"links": [
			"43c3f87d.4faad8"
		],
		"x": 1275,
		"y": 100,
		"wires": []
	},
	{
		"id": "cab43b9e.6ae7b8",
		"type": "function",
		"z": "4f90e2dc.c3a1cc",
		"name": "Parse",
		"func": "if(msg.payload[0] == \"Description\")\n	global.set(\"Name\", msg.payload[2]);\nif(msg.payload[0] == \"Size\/Weight\")\n	global.set(\"Size\", msg.payload[2]);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 910,
		"y": 200,
		"wires": [
			[
				"e6619173.c54c"
			]
		]
	},
	{
		"id": "e6619173.c54c",
		"type": "join",
		"z": "4f90e2dc.c3a1cc",
		"name": "Wait",
		"mode": "custom",
		"build": "string",
		"property": "payload",
		"propertyType": "msg",
		"key": "topic",
		"joiner": "",
		"joinerType": "str",
		"accumulate": false,
		"timeout": "1",
		"count": "",
		"reduceRight": false,
		"reduceExp": "",
		"reduceInit": "",
		"reduceInitType": "",
		"reduceFixup": "",
		"x": 1030,
		"y": 200,
		"wires": [
			[
				"79c10c5f.601a5c"
			]
		]
	},
	{
		"id": "b47741b.a8228c",
		"type": "function",
		"z": "4f90e2dc.c3a1cc",
		"name": "Check for Error",
		"func": "if (msg.responseUrl.includes(\"upcerror\") || msg.responseUrl.includes(\"itemnotfound\"))\n{\n	msg.payload = false;\n	return [msg, null];\n}\nelse\n	return [null, msg];",
		"outputs": 2,
		"noerr": 0,
		"x": 520,
		"y": 140,
		"wires": [
			[
				"526a5ce1.cddeac"
			],
			[
				"4fb7fec3.ebd6f"
			]
		]
	},
	{
		"id": "79c10c5f.601a5c",
		"type": "function",
		"z": "4f90e2dc.c3a1cc",
		"name": "Check Fields",
		"func": "if (global.get(\"Name\") && global.get(\"Size\"))\n	msg.payload = true;\nelse\n	msg.payload = false;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1170,
		"y": 200,
		"wires": [
			[
				"526a5ce1.cddeac"
			]
		]
	},
	{
		"id": "bfc3ac52.889908",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Check modified item to see if it needs todoist task",
		"func": "var items = global.get(\"Items\");\nvar upc = global.get(\"UPC\");\nfor(var i = 0; i < items.length; i++)\n{\n	if (items[i].upc === upc)\n	{\n		if (items[i].task)\n		{\n			if (items[i].want > items[i].have)\n			{\n				if (items[i].open)\n				{\n					\/\/already open\n					return[null,null,null];\n				}\n				else\n				{\n					\/\/reopen\n					msg.payload = items[i].task;\n					items[i].open = true;\n					return[null,msg,null];\n				}\n			}\n			else\n			{\n				if (items[i].open)\n				{\n					\/\/close\n					msg.payload = items[i].task;\n					items[i].open = false;\n					return[null,null,msg];\n				}\n				else\n				{\n					\/\/already closed\n					return[null,null,null];\n				}\n			}\n		}\n		else\n		{\n			if (items[i].want > items[i].have)\n			{\n				\/\/create new task\n				items[i].open = true;\n				msg.payload = {};\n				msg.payload.content = items[i].name;\n				return[msg,null,null];\n			}\n			else\n			{\n				\/\/doesn't need a task\n				return[null,null,null];\n			}\n		}\n		break;\n	}\n}\n\nreturn [null,null,null];",
		"outputs": 3,
		"noerr": 0,
		"x": 1890,
		"y": 480,
		"wires": [
			[
				"bc8ba741.f831b8"
			],
			[
				"89ade8f7.d51b38"
			],
			[
				"128cffca.fbc378"
			]
		]
	},
	{
		"id": "bc8ba741.f831b8",
		"type": "link out",
		"z": "d612f1de.347908",
		"name": "CreateTodoistTask",
		"links": [
			"2c79eb68.694934"
		],
		"x": 2135,
		"y": 440,
		"wires": []
	},
	{
		"id": "89ade8f7.d51b38",
		"type": "link out",
		"z": "d612f1de.347908",
		"name": "ReopenTodoistTask",
		"links": [
			"a9e9337c.62ee5"
		],
		"x": 2135,
		"y": 480,
		"wires": []
	},
	{
		"id": "fd43e916.25322",
		"type": "link in",
		"z": "d612f1de.347908",
		"name": "CreatedTodoistTask",
		"links": [
			"e38a1bb6.c40ab8"
		],
		"x": 1275,
		"y": 800,
		"wires": [
			[
				"b3b50725.6c3268"
			]
		]
	},
	{
		"id": "b3b50725.6c3268",
		"type": "function",
		"z": "d612f1de.347908",
		"name": "Setup Set Task",
		"func": "var SqlString = global.get('SqlString');\nvar upc = global.get(\"UPC\");\n\nvar items = global.get(\"Items\");\nfor(var i = 0; i < items.length; i++)\n{\n	if (items[i].upc === upc)\n	{\n		items[i].task = msg.payload.id;\n		break;\n	}\n}\n\nmsg.queryType=\"Update Item\";\nmsg.topic = SqlString.format(\"UPDATE Items SET task = ? WHERE upc = ?\", [msg.payload.id, upc]);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 1420,
		"y": 800,
		"wires": [
			[
				"824db7b6.614e78"
			]
		]
	},
	{
		"id": "128cffca.fbc378",
		"type": "link out",
		"z": "d612f1de.347908",
		"name": "CloseTodoistTask",
		"links": [
			"eecae39.39005a"
		],
		"x": 2135,
		"y": 520,
		"wires": []
	},
	{
		"id": "89deae90.4b4d7",
		"type": "link out",
		"z": "d612f1de.347908",
		"name": "DBOut",
		"links": [
			"85e63da6.bd601"
		],
		"x": 1895,
		"y": 600,
		"wires": []
	},
	{
		"id": "85e63da6.bd601",
		"type": "link in",
		"z": "d612f1de.347908",
		"name": "FromDB",
		"links": [
			"89deae90.4b4d7"
		],
		"x": 115,
		"y": 600,
		"wires": [
			[
				"df42208e.6fc2f8"
			]
		]
	},
	{
		"id": "eecae39.39005a",
		"type": "link in",
		"z": "48e1deaa.d8a22",
		"name": "Close",
		"links": [
			"128cffca.fbc378"
		],
		"x": 155,
		"y": 260,
		"wires": [
			[
				"75655f01.671af8"
			]
		]
	},
	{
		"id": "60477859.78c7f8",
		"type": "link out",
		"z": "48e1deaa.d8a22",
		"name": "Close",
		"links": [],
		"x": 475,
		"y": 260,
		"wires": []
	},
	{
		"id": "75655f01.671af8",
		"type": "function",
		"z": "48e1deaa.d8a22",
		"name": "",
		"func": "msg.url = \"https:\/\/api.todoist.com\/rest\/v1\/tasks\/\"+msg.topic+\"\/close\"\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 250,
		"y": 260,
		"wires": [
			[
				"41494549.d934f4"
			]
		]
	},
	{
		"id": "41494549.d934f4",
		"type": "http request",
		"z": "48e1deaa.d8a22",
		"name": "Close",
		"method": "POST",
		"ret": "obj",
		"paytoqs": false,
		"url": "",
		"tls": "",
		"persist": false,
		"proxy": "",
		"authType": "bearer",
		"x": 370,
		"y": 260,
		"wires": [
			[
				"60477859.78c7f8"
			]
		]
	},
	{
		"id": "3fe2cbdb.0c9334",
		"type": "link in",
		"z": "48e1deaa.d8a22",
		"name": "Delete",
		"links": [
			"39ad0def.6fca22"
		],
		"x": 155,
		"y": 300,
		"wires": [
			[
				"96822929.58c8d"
			]
		]
	},
	{
		"id": "b98bfd15.12a0e8",
		"type": "link out",
		"z": "48e1deaa.d8a22",
		"name": "Delete",
		"links": [],
		"x": 475,
		"y": 300,
		"wires": []
	},
	{
		"id": "96822929.58c8d",
		"type": "function",
		"z": "48e1deaa.d8a22",
		"name": "",
		"func": "msg.url = \"https:\/\/api.todoist.com\/rest\/v1\/tasks\/\"+msg.payload\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 250,
		"y": 300,
		"wires": [
			[
				"6655c9aa.0668"
			]
		]
	},
	{
		"id": "6655c9aa.0668",
		"type": "http request",
		"z": "48e1deaa.d8a22",
		"name": "Delete",
		"method": "DELETE",
		"ret": "obj",
		"paytoqs": false,
		"url": "",
		"tls": "",
		"persist": false,
		"proxy": "",
		"authType": "bearer",
		"x": 370,
		"y": 300,
		"wires": [
			[
				"b98bfd15.12a0e8"
			]
		]
	},
	{
		"id": "39ad0def.6fca22",
		"type": "link out",
		"z": "d612f1de.347908",
		"name": "DeleteTask",
		"links": [
			"3fe2cbdb.0c9334"
		],
		"x": 1595,
		"y": 760,
		"wires": []
	}
]

